<div>
  <%= image_tag("slogo.png", class:"slogan") %>
</div>
<div class="cont-contactBtn">
  <div class="cont-flip">
    <div class="front">
      <a href="#" class="btn btn-white flip">Need a Little Help?</a>
    </div>
    <div class="back">
      <a href="#" class="flip close"></a>
      <p class="tagline">Don't know what to say? Hire your own Txxtprt now!</p>
      <form class="contact-form" action="">
        <input class="gutter" type="text" placeholder="Name">
        <input type="text" placeholder="Company">
        <input class="gutter" type="text" placeholder="Telephone">
        <input type="text" placeholder="Email">
        <textarea name="" id="" placeholder="Leave a message"></textarea>
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</div>
